header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: transparent url("../img/StarWarsBg.jpg") no-repeat center center / cover;
}

header .menu_top {
  padding: 20px 0;
  background-color: rgba(16, 22, 54, 0.5);
}

header .menu_top .navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .menu_top .navbar .logo {
  color: #f0ff00;
  font-size: 20px;
  font-weight: 900;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

header .menu_top .navbar .logo:hover {
  color: white;
  text-shadow: 0 0 20px blue;
}

header .menu_top .navbar .logo .blue {
  color: #4c76ff;
}

header .menu_top .header_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .menu_top .header_menu.active_header {
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

header .menu_top .header_menu #close {
  font-size: 20px;
  color: white;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

header .menu_top .header_menu #close .fal {
  color: red;
}

header .menu_top .header_menu .header_item {
  margin: 0 15px;
}

header .menu_top .header_menu .header_item .header_link {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

header .menu_top .header_menu .header_item .header_link.active_link {
  color: red !important;
}

header .menu_top .header_menu .header_item .header_link.active_link::before {
  background: red;
}

header .menu_top .header_menu .header_item .header_link::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #4c76ff;
  position: relative;
  bottom: 20px;
  opacity: 0;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

header .menu_top .header_menu .header_item .header_link:hover {
  color: #4c76ff;
  text-decoration: underline;
}

header .menu_top .header_menu .header_item .header_link:hover::before {
  opacity: 1;
}

header .menu_top .burger {
  background: transparent;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px yellowgreen;
  box-shadow: 0 0 15px yellowgreen;
  display: none;
  z-index: 51;
}

header .menu_top .burger .far {
  color: white;
  font-size: 20px;
}

header .header_title {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
}

header .header_title h1 {
  font-size: 62px;
  font-weight: 700;
}

header .header_title h1 .blue_1 {
  color: #00d8ff;
}

header .header_title h1 .blue_2 {
  color: #4c76ff;
}

header .header_title h2 {
  color: white;
  font-size: 48px;
  font-weight: 100;
  margin-top: 20px;
}

header .header_title h2 .blue_2 {
  color: #4c76ff;
}

header .header_title p {
  font-size: 18px;
  font-weight: 100;
  margin-top: 20px;
}

header .header_title p::after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 2px;
  background: #4c76ff;
  -webkit-transform: translate(40px, -5px);
  -ms-transform: translate(40px, -5px);
  transform: translate(40px, -5px);
}

header .header_title p::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 2px;
  background: #4c76ff;
  -webkit-transform: translate(-40px, -5px);
  -ms-transform: translate(-40px, -5px);
  transform: translate(-40px, -5px);
}

header .header_title .social_icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 100px;
}

header .header_title .social_icons li {
  margin: 0 10px;
}

header .header_title .social_icons li a .fab {
  color: white;
  font-size: 25px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  opacity: 0.4;
}

header .header_title .social_icons li a .fab:hover {
  opacity: 1;
}

.feature {
  position: relative;
  z-index: -2;
  background: transparent url("../img/StarWars_022.jpg") no-repeat center center / cover;
  background-position: right;
  padding-top: 80px;
  padding-bottom: 120px;
}

.feature h2 {
  margin-bottom: 100px;
}

.feature .features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.feature .features .features_img {
  min-width: 35px;
  margin-right: 15px;
}

.feature .features h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.feature .features p {
  font-size: 10px;
  line-height: 18px;
}

.feature .twin {
  position: absolute;
  top: 0;
  left: 53%;
  right: 0;
  bottom: 0;
  width: 47%;
  background: url(../img/dr.png);
  z-index: -1;
  -webkit-animation: star 40s infinite linear;
  animation: star 40s infinite linear;
}

@-webkit-keyframes star {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 2000px 1000px;
  }
}

@keyframes star {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 2000px 1000px;
  }
}

.mobile {
  background: transparent url("../img/StarWarsSec.jpg") no-repeat center center / cover;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Open Sans';
  color: #282528;
  position: relative;
}

.mobile .star_img {
  position: relative;
}

.mobile .star_img img {
  position: absolute;
  left: 50%;
  margin-left: -132px;
  opacity: 0;
}

.mobile .star_img span {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: 90px;
  left: 50%;
  margin-left: -18px;
  padding-top: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile .mobile_title {
  margin-bottom: 70px;
}

.mobile .mobile_title p {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.mobile .mobile_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 70px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 14px;
  border-radius: 5px;
}

.mobile .mobile_box:hover {
  background-color: rgba(247, 227, 39, 0.5);
  cursor: pointer;
}

.mobile .mobile_box .mobile_img {
  min-width: 30px;
  margin-right: 35px;
}

.mobile .mobile_box h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.mobile .mobile_box p {
  line-height: 20px;
  font-size: 12px;
}

.mobile #scene1,
.mobile #scene2,
.mobile #scene3,
.mobile #scene4 {
  position: absolute;
}

.mobile #scene1 img,
.mobile #scene2 img,
.mobile #scene3 img,
.mobile #scene4 img {
  width: 200px;
  height: auto;
}

.mobile #scene1 {
  top: 100px;
  left: 100px;
}

.mobile #scene2 {
  bottom: 100px;
  right: 100px;
}

.mobile #scene3 {
  top: 100px;
  right: 100px;
}

.mobile #scene4 {
  bottom: 100px;
  left: 100px;
}

.works {
  background: -webkit-gradient(linear, left top, right top, from(white), to(#cba382));
  background: -o-linear-gradient(left, white, #cba382);
  background: linear-gradient(to right, white, #cba382);
  padding-top: 80px;
  text-align: center;
}

.works .works_title h2 {
  margin-bottom: 20px;
}

.works .works_title p {
  color: #062033;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.works .works_title .heart {
  margin-bottom: 40px;
}

.works .works_title .heart::before {
  content: "";
  display: inline-block;
  width: 92px;
  height: 2px;
  background-color: #c5af9b;
  -webkit-transform: translate(-15px, -7px);
  -ms-transform: translate(-15px, -7px);
  transform: translate(-15px, -7px);
}

.works .works_title .heart::after {
  content: "";
  display: inline-block;
  width: 92px;
  height: 2px;
  background-color: #c5af9b;
  -webkit-transform: translate(15px, -7px);
  -ms-transform: translate(15px, -7px);
  transform: translate(15px, -7px);
}

.works .navs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px 0 70px;
}

.works .navs li {
  margin: 0 20px;
}

.works .navs li a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  color: #062033;
  font-size: 14px;
  font-weight: 900;
}

.works .navs li a.nav_active {
  color: white;
  background-color: #4c76ff;
  border-radius: 5px;
}

.works .tab-item {
  position: relative;
}

.works .tab-item:hover .overlay {
  opacity: 1;
}

.works .tab-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 118, 225, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.works .tab-item .overlay .fal {
  color: white;
  font-size: 20px;
}

.works .tab-item img {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato';
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  color: #4c76ff;
  font-size: 21px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-weight: 700;
  color: #282528;
  font-size: 13px;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

@media (max-width: 992px) {
  header .header_title h1 {
    font-size: 55px;
  }

  header .header_title h2 {
    font-size: 35px;
  }

  .feature .features {
    margin-bottom: 30px;
  }

  .feature .twin {
    left: 29%;
    width: 71%;
  }

  .mobile .star_img {
    display: none;
  }
}

@media (max-width: 768px) {
  header .menu_top .header_menu {
    position: fixed;
    top: 20%;
    right: 0;
    background-color: rgba(16, 22, 54, 0.5);
    width: 40%;
    height: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 50;
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    border-radius: 10px;
  }

  header .menu_top .header_menu .header_item {
    margin: 20px 0;
  }

  header .menu_top .header_menu .header_item .header_link::before {
    display: none;
  }

  header .menu_top .burger {
    display: block;
  }

  header .header_title h1 {
    font-size: 45px;
  }

  header .header_title h2 {
    font-size: 25px;
  }

  header .header_title .social_icons {
    margin-top: 10%;
  }

  .feature .twin {
    left: 0;
    width: 100%;
  }

  .mobile {
    padding-top: 70px;
    padding-bottom: 20px;
  }

  .mobile .mobile_title {
    margin-bottom: 30px;
  }

  .mobile .mobile_box {
    margin: 20px 0;
  }
}

@media (max-width: 576px) {
  header .header_title p {
    font-size: 15px;
  }

  header .header_title p::after {
    -webkit-transform: translate(20px, -5px);
    -ms-transform: translate(20px, -5px);
    transform: translate(20px, -5px);
  }

  header .header_title p::before {
    -webkit-transform: translate(-20px, -5px);
    -ms-transform: translate(-20px, -5px);
    transform: translate(-20px, -5px);
  }

  .feature h2 {
    margin-bottom: 50px;
  }

  .feature .features h4 {
    margin-bottom: 10px;
  }
}